{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
{% endblock %}
{% block body %}
    {% autoescape %}
        <p>{{ post.body|raw }}</p>
    {% endautoescape %}
    {% block javascripts %}
        <script src="{{ asset('build/js/app.js') }}"></script>
    {% endblock %}
{% endblock %}