.header {
    padding-top: 50px;
}

.logo {
    font-size: 24px;
    color:black;
}

.logo:hover {
    text-decoration: none;
    color:black;
}

.main {
    margin-top: 50px;
    min-height: calc(87vh - 80px);
}

.form-login, .form-register {
    width: 100%;
    padding: 30px;
    border-radius: 5px;
    margin-top: 30%;
}
